
<div class="container">
    <div class="jumbotron">
        {{#if message}}
            <div class="alert alert-success" role="alert">
                <p><strong>Well done!</strong> {{{message}}}</p>
            </div>
        {{/if}}
        <h1>Member Area</h1>
        <p class="lead">This example is a quick exercise to illustrate how fixed to top navbar works. As you scroll, it will remain fixed to the top of your browser's viewport.</p>
        <a class="btn btn-lg btn-primary" role="button">View navbar docs &raquo;</a>
    </div>
</div>